main{
    height: 100vh;
    display: flex;
    flex-direction: column;
}

.um{
    width: 100%;/*horizontal*/
    height: 20%;

    display: flex;
    justify-content: flex-end;/*poem itens a direita*/
    align-items: end;/*poem os itens em baixo*/

    background-color: rgba(161, 124, 195, 0.326);
    gap: 1%;

}

.roxo{
    width: 40px;
    border-radius: 50%;
    border: 60px solid rgb(161, 124, 195);


}

.dois{
    width: 100%;/*horizontal*/
    height: 20%;
    display: flex;
    justify-content: flex-end;
    align-items: center;

    background-color: rgb(124, 195, 152);
    gap: 1%;


}

.verde{
    width: 40px;
    border-radius: 50%;
    border: 60px solid rgb(4, 115, 54);


}
.tres{
    width: 100%;/*horizontal*/
    height: 20%;
    display: flex;
    justify-content: center;
    align-items: center;

    background-color: rgba(191, 85, 85, 0.328);
    gap: 1%;


}
.red{
    width: 40px;
    border-radius: 50%;
    border: 60px solid rgb(191, 85, 85);

}

.quatro{
    width: 100%;/*horizontal*/
    height: 20%;
    display: flex;
    justify-content: space-between;
    align-items: center;

    background-color: rgba(202, 205, 19, 0.286);
    gap: 1%;


}
.amarelo{
    width: 40px;
    border-radius: 50%;
    border: 60px solid rgba(202, 205, 19, 0.772);


}


.cinco{
    width: 100%;/*horizontal*/
    height: 20%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;

    background-color: rgba(19, 35, 205, 0.286);
    gap: 1%;


}
.blue{
    width: 40px;
    border-radius: 50%;
    border: 60px solid rgb(19, 35, 205);


}